* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

/* HEADER */
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;

  height: 92px;
  padding-left: 19px;

  background-color: rgba(207, 43, 43, 1);
  box-shadow: 0px 4px 7px 4px rgba(0, 0, 0, 0.25);
}

#header > h1 {
  font-family: "Righteous", cursive;
  font-size: 44px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

#header > h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
/* HEADER */

/* MAIN */
.container {
  padding: 92px 0 108px 19px;
  background-color: #eeeeee;
}

.requests {
  display: flex;
  flex-direction: column;
}

.requests h2 {
  font-family: "Righteous", cursive;
  font-size: 26px;
  font-weight: 400;

  margin-top: 28px;
  margin-bottom: 17px;
}

.choices {
  display: flex;

  overflow-x: scroll;
}

.dish,
.drink,
.dissert {
  display: flex;
  flex-direction: column;

  margin-right: 16px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 18px 14px 14px 13px;
  width: 172px;

  border-radius: 9px;
  border: 1px solid #eeeeee;

  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.dish > img,
.drink > img,
.dissert > img {
  border-radius: 4px;
  margin-bottom: 8px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price img {
  opacity: 0;
}

.price-checked {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-checked img {
  opacity: 1;
}

.dish > h4,
.drink > h4,
.dissert > h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16 px;
  font-weight: 700;

  margin-bottom: 8px;
}

.dish > p,
.drink > p,
.dissert > p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 8px;

  color: rgba(166, 166, 166, 1);
}

.dish h5,
.drink h5,
.dissert h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.checked {
  border: 5px solid #32b72f;
}

/* MAIN */

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  bottom: 0;

  height: 92px;
  width: 100%;
  background-color: #ffffff;
}

.button {
  height: 61px;
  width: 364px;
  border-style: none;
  border-radius: 50px;
  background-color: #cbcbcb;
}

.button h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
